.image-1-icon {
  width: 1505px;
  height: 1004px;
  position: absolute;
  margin: 0 !important;
  bottom: -108px;
  left: -33px;
  object-fit: cover;
  padding-left: 80px;
}
.calvary-summer-camp {
  margin: 0;
  height: 96px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.dates-and-prices-component {
  align-self: stretch;
  /* border-radius: var(--br-xl); */
  border-radius: 50px;
  background-color: rgba(41, 41, 41, 0.4);
  display: flex;
  margin-right: 110px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-25xl);
  z-index: 1;
}
.learn-more-button {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: 108px 84px 582px;
  box-sizing: border-box;
  position: relative;
  min-height: 806px;
  max-width: 100%;
}
.home,
.learn-more-button,
.learn-more-button-wrapper {
  display: flex;
  justify-content: flex-start;
}
.learn-more-button-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-131xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 64px;
  color: var(--color-white);
  font-family: var(--body-text);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .dates-and-prices-component {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1150px) {
  .learn-more-button {
    padding-top: var(--padding-51xl);
    padding-bottom: 378px;
    box-sizing: border-box;
  }
  .learn-more-button-wrapper {
    padding-bottom: var(--padding-78xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .calvary-summer-camp {
    font-size: 51px;
  }
  .learn-more-button {
    padding-left: var(--padding-23xl);
    padding-right: var(--padding-23xl);
    box-sizing: border-box;
  }
  .learn-more-button-wrapper {
    padding-bottom: 63px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .calvary-summer-camp {
    font-size: 38px;
  }
  .learn-more-button {
    padding: var(--padding-26xl) var(--padding-xl) 246px;
    box-sizing: border-box;
  }
}
