.image-4-icon,
.image-5-icon {
  position: absolute;
  top: -24.4px;
  left: -33.4px;
  width: 559.3px;
  height: 390.3px;
  object-fit: cover;
  display: none;
}
.image-5-icon {
  height: 100%;
  top: 0;
  bottom: 0;
  left: -59px;
  max-height: 100%;
  width: 585px;
}
.image-4-parent {
  height: 356px;
  flex: 1;
  position: relative;
  border-radius: 27.11px;
  overflow: hidden;
  background-image: url(/public/volunteer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 335px;
  max-width: 100%;
}
.meet-us-here {
  margin: 0;
  width: 280px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.meet-us-here-label {
  width: 448px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.blank-line5,
.if-you-are,
.make-sure-to {
  margin: 0;
}
.if-you-are-container {
  align-self: stretch;
  position: relative;
}
.learn-more4 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: center;
  min-width: 124px;
}
.instance-container,
.learn-more-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.learn-more-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-11xl);
  background-color: var(--color-orange);
  border-radius: var(--br-21xl);
  justify-content: flex-start;
  white-space: nowrap;
}
.learn-more-wrapper1:hover {
  background-color: var(--color-darkgoldenrod);
}
.instance-container {
  width: 448px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.if-you-are-looking-for-a-way-t-parent {
  align-self: stretch;
  gap: var(--gap-15xl);
  text-align: left;
  font-size: var(--body-text-size);
}
.if-you-are-looking-for-a-way-t-parent,
.looking-to-serve-label,
.meet-us-here-label-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.meet-us-here-label-parent {
  align-self: stretch;
  gap: var(--gap-mini);
}
.looking-to-serve-label {
  width: 471px;
  padding: var(--padding-2xl) 0 0;
  box-sizing: border-box;
  min-width: 471px;
}
.meet-us-label,
.meet-us-label-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.meet-us-label {
  width: 1047px;
  justify-content: flex-start;
  gap: var(--gap-42xl);
}
.meet-us-label-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-56xl) var(--padding-8xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--heading-1-size);
  color: var(--color-black);
  font-family: var(--body-text);
}
@media screen and (max-width: 1150px) {
  .looking-to-serve-label {
    flex: 1;
  }
  .meet-us-label {
    flex-wrap: wrap;
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 800px) {
  .meet-us-here {
    font-size: var(--font-size-7xl);
  }
  .if-you-are-looking-for-a-way-t-parent {
    gap: var(--gap-mid);
  }
  .looking-to-serve-label {
    min-width: 100%;
  }
  .meet-us-label {
    gap: var(--gap-mini);
  }
}
@media screen and (max-width: 450px) {
  .meet-us-here {
    font-size: var(--font-size-lgi);
  }
  .meet-us-label-wrapper {
    padding-bottom: var(--padding-30xl);
    box-sizing: border-box;
  }
}
