.image-3-icon2 {
  height: 69px;
  width: 69px;
  position: relative;
  object-fit: cover;
}
.calvary-summer-camp4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.calvary-summer-camp-frame,
.image-3-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.calvary-summer-camp-frame {
  flex-direction: column;
  padding: var(--padding-base-5) 0 0;
}
.image-3-container {
  flex-direction: row;
  gap: var(--gap-mini);
  max-width: 100%;
}
.home3 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 52px;
}
.about3,
.contact3,
.program3,
.volunteer3 {
  position: relative;
  display: inline-block;
  min-width: 51px;
}
.contact3,
.program3,
.volunteer3 {
  min-width: 74px;
}
.contact3,
.volunteer3 {
  min-width: 82px;
}
.contact3 {
  min-width: 70px;
}
.home-about-program {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-26xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-text-size);
  color: var(--color-gray-200);
  font-family: var(--body-text);
}
.home-about-program-wrapper {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.register2 {
  position: relative;
  font-size: var(--body-text-size);
  font-weight: 600;
  font-family: var(--body-text);
  color: var(--color-antiquewhite);
  text-align: left;
  display: inline-block;
  min-width: 71px;
}
.camp-image-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-6xl);
  background-color: var(--color-orange);
  border-radius: var(--br-30xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.camp-image-container:hover {
  background-color: var(--color-darkgoldenrod);
}
.frame-header,
.frame-parent5,
.register-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent5 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-10xl);
}
.frame-header,
.register-button {
  box-sizing: border-box;
}
.register-button {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.frame-header {
  align-self: stretch;
  background-color: var(--color-floralwhite);
  flex-direction: row;
  padding: var(--padding-7xl) var(--padding-37xl-5) var(--padding-11xl);
  gap: var(--gap-50xl-5);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-100);
  font-family: var(--body-text);
}
a:hover {
  color: gray;
}
a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1350px) {
  .home-about-program-wrapper {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .frame-header,
  .home-about-program {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .frame-header {
    gap: var(--gap-16xl);
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
  }
}
@media screen and (max-width: 450px) {
  .home-about-program {
    display: none;
  }
  .frame-header {
    gap: var(--gap-mid);
  }
}
