.explore-the-adventure,
.frame-child1 {
  flex: 1;
  position: relative;
  max-width: 100%;
}
.frame-child1 {
  height: 327px;
  border-radius: var(--br-11xl);
  overflow: hidden;
  object-fit: cover;
  min-width: 333px;
}
.explore-the-adventure {
  display: inline-block;
}
.explore-the-adventure-awaiting-wrapper {
  position: absolute;
  top: 35px;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-gray-500);
  width: 515px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-24xl-5);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent8 {
  align-self: stretch;
  height: 189px;
  position: relative;
  max-width: 100%;
}
.learn-more2 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  font-family: var(--body-text);
  color: var(--color-white);
  text-align: center;
  min-width: 103px;
}
.learn-more-frame,
.volunteer-application-form-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.learn-more-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mini) var(--padding-11xl);
  background-color: var(--color-orange);
  border-radius: var(--br-21xl);
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.learn-more-frame:hover {
  background-color: var(--color-darkgoldenrod);
}
.volunteer-application-form-inner {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.volunteer-application-form,
.volunteer-application-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.volunteer-application-form {
  align-self: stretch;
}
.volunteer-application-form-wrapper {
  flex: 1;
  padding: var(--padding-15xl) 0 0;
  box-sizing: border-box;
  min-width: 335px;
}
.frame-parent7,
.home-child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.frame-parent7 {
  width: 1038px;
  flex-wrap: wrap;
  gap: var(--gap-3xs);
}
.home-child {
  align-self: stretch;
  padding: 0 var(--padding-xl) var(--padding-131xl) var(--padding-3xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--body-text-size);
  color: var(--color-black);
  font-family: var(--body-text);
}
@media screen and (max-width: 800px) {
  .home-child {
    padding-bottom: var(--padding-78xl);
    box-sizing: border-box;
  }
}
