.our-vision1 {
  margin: 0;
  width: 264px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.our-vision-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.our-vision-is1 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.frame-parent12,
.our-vision-is-to-provide-a-spa-wrapper {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.our-vision-is-to-provide-a-spa-wrapper {
  border-radius: var(--br-6xl);
  background-color: var(--color-lightgoldenrodyellow);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-18xl) var(--padding-46xl-5);
  font-size: var(--body-text-size);
}
.frame-parent12 {
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-10xl);
  gap: var(--gap-8xl);
}
.meet-the-director {
  margin: 0;
  width: 310px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.meet-the-director-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.password-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-parent13,
.frame-wrapper4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent13 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.frame-wrapper4 {
  height: 482px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl) 0 var(--padding-14xl);
  box-sizing: border-box;
}
.pastor-paul-baek {
  margin: 0;
  width: 217px;
  position: relative;
  font-size: inherit;
  line-height: 27px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.director-of-summer {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-size);
}
.pastor-paul-baek-parent {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.paul-baek-currently {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-size);
}
.frame-parent14,
.frame-wrapper5 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent14 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.frame-wrapper5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl) 0 var(--padding-14xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.frame-parent11 {
  width: 565px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-22xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--heading-1-size);
  color: var(--color-black);
  font-family: var(--body-text);
}
@media screen and (max-width: 800px) {
  .our-vision1 {
    font-size: var(--font-size-7xl);
  }
  .our-vision-is-to-provide-a-spa-wrapper {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .meet-the-director {
    font-size: var(--font-size-7xl);
  }
  .frame-parent11 {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .meet-the-director,
  .our-vision1,
  .pastor-paul-baek {
    font-size: var(--font-size-lgi);
  }
  .pastor-paul-baek {
    line-height: 22px;
  }
}
